# Python3.7 - List Comprehensions

In [1]:
range(9)

range(0, 9)

In [2]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [3]:
nums=list(range(9)) # convert range to a list
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8]

create an empty list

In [4]:
sq=[]

In [5]:
for n in nums: # iterate through the list
    sq.append(n*n) # list.append(x) appends x to the list

In [6]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
[n*n for n in nums]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

List comprehension to save the day (i mean some minutes)  
This is more concise and readable. It generates a new list of processed members.  
the original list remains unchanged.

In [8]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
ls1=list(range(0,3))
ls2=list(range(3,6))

In [10]:
ls1

[0, 1, 2]

In [11]:
ls2

[3, 4, 5]

In [12]:
[(x+y) for x in ls1 for y in ls2]

[3, 4, 5, 4, 5, 6, 5, 6, 7]

In [13]:
[(x, y) for x in ls1 for y in ls2]

[(0, 3), (0, 4), (0, 5), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5)]

In [15]:
[(x+y) for x in ls1 for y in ls2 if x%y!=0]

[4, 5, 6, 5, 6, 7]

In [19]:
[(x+y) for x in ls1 for y in ls2 if x%y==0]

[3, 4, 5]

In [20]:
nums=list(range(-4,4))
nums

[-4, -3, -2, -1, 0, 1, 2, 3]

Double the values

In [21]:
[n*2 for n in nums]

[-8, -6, -4, -2, 0, 2, 4, 6]

Filter out the -ve items

In [22]:
[n*2 for n in nums if n>=0]

[0, 2, 4, 6]

apply a function or method to a list

In [23]:
# get the absolute value
[abs(n) for n in nums]

[4, 3, 2, 1, 0, 1, 2, 3]

get the octal value

In [24]:
[oct(n) for n in nums]

['-0o4', '-0o3', '-0o2', '-0o1', '0o0', '0o1', '0o2', '0o3']

In [29]:
jl=[' batman', ' superman', ' aquaman', ' flash', 'wonderwoman ']
type(jl)

list

if a string ends with sh make it uppercase

In [30]:
[i.upper() for i in jl if i.endswith('sh')]

[' FLASH']

remove spaces around strings

In [31]:
[i.strip() for i in jl]

['batman', 'superman', 'aquaman', 'flash', 'wonderwoman']

### Multiple for iterations

flatten a list

In [32]:
ns1=[[1,2],[2,3],[4,5],[6,7]]
type(ns1)

list

use for 2 times to flatten a 2 level nested list

In [33]:
[num for ls in ns1 for num in ls]

[1, 2, 2, 3, 4, 5, 6, 7]

In [34]:
# use for 3 times to flatten a 3 level nested list
nsl1=[[[1,2],[2,3]],[[2,3],[4,5]]]

In [35]:
[num for elem in ns1 for num in elem for num in elem]

[1, 2, 1, 2, 2, 3, 2, 3, 4, 5, 4, 5, 6, 7, 6, 7]

__If a list is N level nested then use 'for' N times to flatten it__

### Multiple if conditions

In [37]:
# list of numbers from the range(99) which are divisible by 2 & 3
[x for x in range(99) if x%2==0 if x%3==0]

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [38]:
# list of numbers from the range (99) which are divisible by 2 & 5
[x for x in range(99) if x%2==0 if x%5==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [39]:
# In the range(9) if x<5 then multiply it with 10 and if not then multiply it with 3
[x*10 if x<5 else x*3 for x in range(9)]

[0, 10, 20, 30, 40, 15, 18, 21, 24]