# Python - formatting in python [3.7]

In [110]:
from IPython.display import IFrame
address="https://www.youtube.com/embed/BQs8c-76l9k"
IFrame(address, width="1280", height="720")

##### Python formatting has evolved over the years. We will try to go through all of them. If something is an old/deprecated way of doing it, then I will mark it as old because that might not stay supported in future. Old here also means that it was supported in python 2.x and only retained in python 3.x for backward compatibility and may be removed in future.

In [10]:
jl=['batman', 'superman', 'aquaman', 'flash', 'wonderwoman']
jl

['batman', 'superman', 'aquaman', 'flash', 'wonderwoman']

Let us first get the confusion of quotes out of the way and discuss single and double quotes.

In [11]:
jld={'batman':'bruce wayne','superman':'clark kent'}
jld

{'batman': 'bruce wayne', 'superman': 'clark kent'}

In [12]:
nums=[1,2,4,6,8]
nums

[1, 2, 4, 6, 8]

In [13]:
'Hello "python"'

'Hello "python"'

In [14]:
"hello 'python'"

"hello 'python'"

In [15]:
'hello python'

'hello python'

In [16]:
"hello python"

'hello python'

- Single quotes alone gets interpreted as single quotes  
- Double quotes alone gets interpreted as single quotes  
- Single quotes enclosed in double quotes gets interpreted as it is  
- Double quotes enclosed in single quotes gets interpreted as it is
- You cannot enclose the quotes of same type by itself. 
    - Enclosure of double quotes directly by itself isn't supported  
        ex:- `'hello 'python''`
    - Enclosure of single quotes directly by itself isn't supported  
        ex:- `"hello "python""`

In [17]:
'hello 'python''

SyntaxError: invalid syntax (<ipython-input-17-3e153ab4e358>, line 1)

In [18]:
"hello "python""

SyntaxError: invalid syntax (<ipython-input-18-bb2b2d5e2618>, line 1)

#### Variable insertion

In [19]:
'%s %s' %('batman','superman') # old

'batman superman'

In [21]:
'%s %s' % (jl[0], jl[1]) # old
# from tnow on let us use indexed items of a list for this entire section

'batman superman'

In [22]:
'{} {}'.format(jl[0], jl[1])

'batman superman'

In [23]:
"{} {}".format(jl[0], jl[1])

'batman superman'

`'{} {}'.format(jl[0], jl[1])`  
`"{} {}".format(jl[0], jl[1])`  
single and double quotes are interchangeable in most cases.

%s stood for %string or variable string &  
%d stood for %digit or variable digit  
in old style of formatting.

In [24]:
'%d %d' % (1,2) # old

'1 2'

In [25]:
'{} {}'.format(1,2)

'1 2'

In [26]:
'{:d} {:d}'.format(1,2)

'1 2'

In [27]:
'{:d} {:d}'.format(jl[0], jl[1]) # it will fail

ValueError: Unknown format code 'd' for object of type 'str'

There is however another easier, finer and cleaner way of putting variables into a string than this.

In [28]:
a=jl[0]
b=jl[1]
jl

['batman', 'superman', 'aquaman', 'flash', 'wonderwoman']

In [29]:
f'{a} {b}'

'batman superman'

 `f"{variable}"`  
 `f'{variable}'`  
 `F"{variable}"`  
 `F'{variable}'`  
are used to  
  - format a string with a variable.  
  - double ("") and single ('') quotes are interchangeable and produce the same result in combination with f or F.

#### Ordered variable insertion  
This is available only in the modern (new) python 3

In [30]:
jl

['batman', 'superman', 'aquaman', 'flash', 'wonderwoman']

In [31]:
'{} {} {} {} {}' .format(jl[0],jl[1],jl[2],jl[3],jl[4])

'batman superman aquaman flash wonderwoman'

In [32]:
'{0} {1} {2} {3} {4}' .format(jl[0],jl[1],jl[2],jl[3],jl[4])

'batman superman aquaman flash wonderwoman'

In [33]:
'{1} {0} {2} {3} {4}' .format(jl[0],jl[1],jl[2],jl[3],jl[4])

'superman batman aquaman flash wonderwoman'

In [34]:
'{4} {3} {2} {1} {0}'.format(jl[0],jl[1],jl[2],jl[3],jl[4])

'wonderwoman flash aquaman superman batman'

In [35]:
'{4} {3} {2} {0} {0}'.format(jl[0],jl[1],jl[2],jl[3],jl[4])

'wonderwoman flash aquaman batman batman'

In [36]:
'{1} {3} {2} {4} {0}'.format(jl[0],jl[1],jl[2],jl[3],jl[4])

'superman flash aquaman wonderwoman batman'

### Padding

#### strings

##### Increase the length of the string by 10 by adding spaces provided the new length is greater than the existing length of the string

__Align right >__
##### {:char>int}'.format(str)  
char - the character that you want to fill  
int - the new length  
str -  the string on which this will be applied

>  right direction or align to right  
<  left direction or align to left  
^  align to center

In [39]:
'%10s' %(jl[0]) # old

'    batman'

In [40]:
'{:>10}'.format(jl[0])

'    batman'

In [41]:
'{:>2}'.format(jl[0])

'batman'

In [43]:
len('batman')

6

In [44]:
'{:_>10}'.format(jl[0])

'____batman'

In [45]:
'{:*>10}'.format(jl[0])

'****batman'

__Align left <__

In [46]:
'%-10s' %(jl[0]) # old
# Increase the length of the jl[0 string by 10 by aligning it to the 
# left and fill the rest of the blank characters with empty spaces.

'batman    '

In [48]:
'{:<10}'.format(jl[0])
# Increase the length of jl[0] and left align it by filling empty spaces to the right of it.

'batman    '

In [49]:
'{:_<10}'.format(jl[0])
# Increase the length of the jl[0] string by 10 by aligning it to the left and 
# fill the rest of the blank characters with _

'batman____'

In [51]:
'{:*<10}'.format(jl[0])
# Increase the length of the jl[0] string by 10 by aligning it to the left and 
# fill the rest of the blank characters with *

'batman****'

__center align ^__  
{:char^int}'.format(str)

In [52]:
'{:*^10}'.format(jl[0])
# Increase the length of the jl[0] string by 10 by aligning it to the center and 
# fill the rest of the blank characters with *

'**batman**'

#### Numbers

In [53]:
'%d' %(9) # old

'9'

In [54]:
'%5d' %(9) # old

'    9'

In [55]:
len('    9')

5

In [56]:
'{:5d}'.format(9)

'    9'

__Floats__

In [57]:
'%f' %(3.141592653589793,) # old
# presence of comma is not mandatory.
# by default a float gets rounded to 6 digits after .

'3.141593'

In [58]:
'{:f}'.format(3.141592653589793)

'3.141593'

In [59]:
'{:.2f}'.format(3.141592653589793)
# after the . round of the value to 2

'3.14'

In [60]:
'{:9.2f}'.format(3.141592653589793)

# after the . round of the value to 2, increase the length to 99 by adding spaces, right alight(default)

'     3.14'

In [61]:
'{:<9.2f}'.format(3.141592653589793)

# after the . round of the value to 2, increase the length to 99 by adding spaces and left alight it.

'3.14     '

In [63]:
'{:^9.2f}'.format(3.141592653589793)

# after the . round of the value to 2, increase the length to 99 by adding spaces and center alight it.

'  3.14   '

__Signed numbers__

By default only negative numbers are prefixed with a sign unless explicitly mentioned in the code.

In [64]:
'%d' %(7) # old

'7'

In [65]:
'%d' %(-7) # old

'-7'

In [66]:
'%d' %(+7) # old

'7'

In [68]:
'%d' %((-7)) # old

'-7'

In [69]:
'{:d}'.format(7)

'7'

In [71]:
'{:+d}'.format(7)

'+7'

In [73]:
'{:-d}'.format(-7)

'-7'

In [74]:
'{:-d}'.format(7)

'7'

In [75]:
'{:d}'.format(-7)

'-7'

###### control the position of the sign

In [76]:
'{:=5d}'.format((-9))

# increase the length of the value by 5 and do it by adding spaces after the sign (here the sign is minus)

'-   9'

In [77]:
len('-   9')

5

In [78]:
'{:=5d}'.format((+9))
# default is + so nothing will change except spacing.

'    9'

In [79]:
'{:=5+d}'.format((+9))

# not an accepted format. error out.

ValueError: Invalid format specifier

#### Truncate

In [80]:
'%.5s' %('python') # old

'pytho'

In [81]:
'{:.5}'.format('python')

'pytho'

#### Truncating and Padding

In [82]:
'%-11.3s' %('python') # old

# truncate the string by 3, increase the length by 11, left align the string.

'pyt        '

In [83]:
'%11.3s' %('python') # old

# truncate the string by 3, increase the length by 11, right align the string.

'        pyt'

In [84]:
'{:11.3}'.format('python')

# truncate the string by 3, increase the length by 11, left align the string.

'pyt        '

#### Numbers

In [85]:
'%d %d' %(1,2) # old

'1 2'

In [86]:
'{:d} {:d}'.format(1,2)

'1 2'

In [87]:
'{} {}'.format(1,2)

'1 2'

#### Floats

In [88]:
'%f' % (3.141592653589793) # old

'3.141593'

#### Named spaceholders

In [89]:
jld

{'batman': 'bruce wayne', 'superman': 'clark kent'}

In [90]:
'%(batman)s %(superman)s'%jld # old

'bruce wayne clark kent'

In [91]:
'{batman} {superman}'.format(**jld)

'bruce wayne clark kent'

In [92]:
'{batman} {superman}'.format(batman='bruce', superman='clark')

'bruce clark'

#### Getitem and Getattr

In [93]:
jld['batman']

'bruce wayne'

In [94]:
jld['superman']

'clark kent'

In [95]:
'{j[batman]} {j[superman]}'.format(j=jld)

'bruce wayne clark kent'

In [96]:
nums

[1, 2, 4, 6, 8]

In [97]:
'{n[0]} {n[2]} {n[3]}'.format(n=nums)

'1 4 6'

In [98]:
class myclass(object):
    flash='allen'
    jld={'batman': 'bruce wayne', 'superman': 'clark kent'}
    nums=range(9)
    
myclass().flash

'allen'

In [99]:
'{p.flash}'.format(p=myclass())

'allen'

In [100]:
'{p.flash} {p.jld[batman]} {p.nums[3]}'.format(p=myclass())

'allen bruce wayne 3'

In [101]:
nums

[1, 2, 4, 6, 8]

__Datetime__

In [102]:
from datetime import datetime

In [103]:
'{:%y-%m-%d %H:%M:%S}'.format(datetime(2018,1,2,3,4,55))

'18-01-02 03:04:55'

__parameterized formats__

In [105]:
'{:{align}{width}}'.format('batman', align='^', width='10')

'  batman  '

In [106]:
'{:{align}{width}}'.format('batman', align='<', width='10')

'batman    '

In [107]:
'{:{align}{width}}'.format('batman', align='>', width='10')

'    batman'

In [109]:
'{:{align}{width}}'.format(jl[0], align='>', width='10')

'    batman'