# Python - Data Types - Sets [3.7]

__set is an unordered collection without any duplicates__

In [1]:
jlt=('batman', 'superman','aquaman','flash','cyborg','wonderwoman')
# Justice League Tuple

In [2]:
type(jlt)

tuple

In [3]:
jll=list(jlt)
# Justice League tuple

In [4]:
jll

['batman', 'superman', 'aquaman', 'flash', 'cyborg', 'wonderwoman']

In [6]:
jls=set(jll)
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [7]:
jls=set(jlt)
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [9]:
cy={'cyborg'}
type(cy)

set

In [10]:
jls-cy

{'aquaman', 'batman', 'flash', 'superman', 'wonderwoman'}

In [11]:
jls
# original is unaffected

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [13]:
set('python')
# quickly convert a string to a set

{'h', 'n', 'o', 'p', 't', 'y'}

In [14]:
set('python')-set('cython')

{'p'}

In [15]:
p=set('python')
c=set('cython')

In [16]:
p-c
# letters in p but not in c

{'p'}

In [17]:
c-p
# letters in c but not in p

{'c'}

In [18]:
p | c
# letters in p or c

{'c', 'h', 'n', 'o', 'p', 't', 'y'}

In [19]:
p & c
# letters in p and c

{'h', 'n', 'o', 't', 'y'}

In [20]:
p ^ c
# letters in p or c but not in both

{'c', 'p'}

In [21]:
len('p')
# length of a set

1

In [22]:
'p' in p
# check if 'p' is in set p

True

In [23]:
'c' not in p
# check if 'c' is not in set p

True

In [25]:
'c' in c

True

In [26]:
p+c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [27]:
p.add('k')

In [28]:
p

{'h', 'k', 'n', 'o', 'p', 't', 'y'}

In [29]:
p.add(9)

In [30]:
p

{9, 'h', 'k', 'n', 'o', 'p', 't', 'y'}

**set.add(x) adds element x to a given set**

In [31]:
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [32]:
t=(1,9)

In [34]:
jls.add(t)
jls
# you can add a tuple to a set

{(1, 9), 'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [36]:
ll=[2,8]
jls.add(ll)

TypeError: unhashable type: 'list'

In [37]:
jlf=frozenset(jls)

In [38]:
jlf

frozenset({(1, 9),
           'aquaman',
           'batman',
           'cyborg',
           'flash',
           'superman',
           'wonderwoman'})

In [39]:
jlf.add(99)

AttributeError: 'frozenset' object has no attribute 'add'

In [40]:
type(jlf)

frozenset

In [43]:
jls.pop()

'aquaman'

**set.pop() behaves differently than list.pop(). list.pop() pops out the last element of a list unlike set.pop()**

In [44]:
jls

{(1, 9), 'batman', 'flash', 'superman', 'wonderwoman'}

In [45]:
jls.remove((1,9))

In [46]:
jls

{'batman', 'flash', 'superman', 'wonderwoman'}

In [49]:
jlc=jls.copy()
jlc
# set.copy() copies a set

{'batman', 'flash', 'superman', 'wonderwoman'}

In [50]:
id(jlc)

9119664

In [51]:
id(jls)

96154248

In [52]:
jlc.clear()
# set.clear() clears out a set

In [53]:
jlc

set()

In [54]:
jlt

('batman', 'superman', 'aquaman', 'flash', 'cyborg', 'wonderwoman')

In [55]:
jls=set(jlt)
jls

{'aquaman', 'batman', 'cyborg', 'flash', 'superman', 'wonderwoman'}

In [56]:
p

{9, 'h', 'k', 'n', 'o', 'p', 't', 'y'}

In [57]:
c

{'c', 'h', 'n', 'o', 't', 'y'}

In [58]:
p.difference(c)

{9, 'k', 'p'}

**set1.difference(set2) returns 
a set of values set1-set2, meaning all values which are in set2 are removed from set1 and the remaining values of set1 are returned.  
[or]  
a set of values which are unique to set1 against set2  
[or]  
returns the result of set1-set2**

In [59]:
p-c

{9, 'k', 'p'}

In [60]:
p-c == p.difference(c)

True

In [61]:
c.difference(p)

{'c'}

In [62]:
c-p

{'c'}

In [63]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}

In [64]:
A.difference(B) # returns a new set containing values which are unique in A against B. Same as A-B

{1, 2}

In [65]:
A # the original set A is unchanged

{1, 2, 3, 4, 5}

In [66]:
B # the original set B is unchanged

{3, 4, 5, 6, 7}

**but in the world of mathematics if you subtract B from A then A gets changed. So for that real world difference checking you should use
set1.difference_update(set1)**

In [67]:
A.difference_update(B)
# This modifies set A with result.

In [68]:
A

{1, 2}

In [69]:
B

{3, 4, 5, 6, 7}

In [70]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}

In [71]:
B.difference_update(A)
# This modifies set B with result.

In [72]:
B

{6, 7}

In [73]:
A

{1, 2, 3, 4, 5}

In [74]:
A.remove(9)

KeyError: 9

In [75]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

In [76]:
A.discard(9)
A

{1, 2, 3, 4, 5}

In [77]:
A.intersection(B)
# The elements which are common between 2 sets A and B

{3, 4, 5}

In [78]:
B.intersection(A)
# same as above

{3, 4, 5}

In [79]:
A.intersection(B,C)
# elements whcih are common between A, B, C

{4, 5}

**set1.intersection(*other_sets) returns a set of common elements between set1 and other_sets**

In [80]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

In [81]:
A.intersection_update(B)
# Do an intersection of A and B, update A with the result

In [82]:
A

{3, 4, 5}

In [83]:
B

{3, 4, 5, 6, 7}

In [85]:
B.intersection_update(C)

In [86]:
B

{4, 5, 6, 7}

In [87]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}

In [88]:
A.intersection_update(B,C)
A

{4, 5}

**A.intersection_update(*other_sets) updates the set A with the intersection (common) elements of A and other_sets**

In [89]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}

In [91]:
A.isdisjoint(B)
# check if set A and set B don't have common elements

False

In [92]:
A.isdisjoint(C)

False

In [93]:
B.isdisjoint(D)

True

**set1.isdisjoin(set2) check if set1 does not has common elements with set2**

In [95]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}

In [96]:
A.issubset(B)
# Is set A subset of B ?

False

In [97]:
A.issubset(E)
# Is set A subset of E ?

False

In [98]:
E.issubset(A)
# Is set E subset of A ?

True

In [99]:
E.issubset(B)
# Is set E subset of B ?

True

**set1.issubset(set2) If all members of set1 are in set2 then set1 is a subset of set2.**

In [100]:
B.issuperset(E)
# Is B a superset of set A

True

In [101]:
A.issuperset(E)

True

**set1.issuperset(set2) set1 is a superset of set2 if set1 has all the elements of set2.  
then inversely it also means that set2 is a subset of set1**  
It is like if John is father of jill then jill is son/daughter of john

In [103]:
A.symmetric_difference(B)

{1, 2, 6, 7}

In [104]:
B.symmetric_difference(C)

{3, 8}

In [105]:
A.symmetric_difference(C)

{1, 2, 3, 6, 7, 8}

In [106]:
A.symmetric_difference(E)

{1, 2, 3}

**symmetric_difference() returns a new set with elements which are unique to each set.**

In [109]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}

In [110]:
A.symmetric_difference_update(B)

In [111]:
A

{1, 2, 6, 7}

In [112]:
B.symmetric_difference_update(C)
B

{3, 8}

In [131]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}

In [132]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [133]:
A

{1, 2, 3, 4, 5}

In [134]:
A.union(C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [135]:
A.union(B,D,E)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12}

**set1.uniont(*other_sets) combines set1 with other_sets**

In [136]:
A|B

{1, 2, 3, 4, 5, 6, 7}

In [137]:
A|B|D|E

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12}

In [138]:
A|B|D|E == A.union(B,D,E)

True

In [139]:
ls=(88,99)
ls

(88, 99)

In [140]:
type(ls)

tuple

In [141]:
A

{1, 2, 3, 4, 5}

In [142]:
A.update(ls)

In [143]:
A

{1, 2, 3, 4, 5, 88, 99}

**set1.update(set/list/dictionoary) updates the given set1 with the values of set or list or dictionary**

In [145]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}
F = {'bat':'bruce', 'sup':'clark'}
G = {'hey'}
H = {True, True}
I = {True, False}
J = {False, False}
K = {1==1, False}

In [146]:
A

{1, 2, 3, 4, 5}

In [147]:
A.update(E)

In [148]:
A

{1, 2, 3, 4, 5}

In [149]:
A.update(F)

In [150]:
A

{1, 2, 3, 4, 5, 'bat', 'sup'}

In [151]:
A.update(G)

In [152]:
A

{1, 2, 3, 4, 5, 'bat', 'hey', 'sup'}

In [153]:
any(H)

True

In [154]:
all(H)

True

In [160]:
any(K)

True

In [155]:
all(I)

False

In [156]:
all(J)

False

**any(set) checks if the given set has atleast one True value in it.**  
**all(set) checks if all values of the set are True**

In [162]:
A = {1,2,3,4,5}  
B = {3,4,5,6,7}  
C = {4,5,6,7,8}  
D = {9,10,11,12}
E = {4,5}
F = {'bat':'bruce', 'sup':'clark'}
G = {'hey'}
H = {True, True}
I = {True, False}
J = {False, False}
K = {1==1, False}

In [163]:
ascii(A)

'{1, 2, 3, 4, 5}'

In [164]:
ascii(C)

'{4, 5, 6, 7, 8}'

**The ascii() method returns a string containing a printable representation of an object**

In [166]:
ascii('Pythön') # It auto escapes non ascii characters

"'Pyth\\xf6n'"

In [167]:
ascii('√')

"'\\u221a'"

In [168]:
bool(0)

False

In [169]:
bool(0.0)

False

In [170]:
bool(())

False

In [171]:
bool([])

False

In [172]:
bool(9)

True

bool() converts a given value to True or False.  
All of the below return False in python bool().  

|bool() False||
|-----|-----|
|None||
|False||
|0||
|0.0||
|0j||
|()||
|[]||
|''||
|{}||


and any object of a class which returns the above values..
anything other than the above returns True.

In [173]:
enumerate(A, start=0)

In [174]:
set(enumerate(A, start=0))

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)}

In [175]:
set(enumerate(A, 0))

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)}

In [176]:
set(enumerate(A))

{(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)}

In [177]:
set(enumerate(A, 11))

{(11, 1), (12, 2), (13, 3), (14, 4), (15, 5)}

enumerate(set, start) # enumerates the elements in a set from 'start' point

In [178]:
E

{4, 5}

In [179]:
K={0,1,4,8,9,7}

In [180]:
def myFun(element):
    return element%2==0
# This function checks if the element is divisible by 2

In [181]:
fil=filter(myFun, K)

In [182]:
fil

In [183]:
set(fil)

{0, 4, 8}

filter(function, iterable) # Here iterable can be a set or list. So depending on the function a new collection is returned.

In [189]:
fil1=filter(None, K)
# without any filtering function applied to it, it returns all those values which return True

In [185]:
set(fil1)

{1, 4, 7, 8, 9}

In [188]:
bool(4)

True

In [190]:
myiter=iter(A)

In [191]:
myiter

In [192]:
A

{1, 2, 3, 4, 5}

In [193]:
myiter

In [194]:
next(myiter)

1

In [195]:
next(myiter)

2

In [196]:
next(myiter)

3

In [197]:
next(myiter)

4

In [198]:
next(myiter)

5

In [199]:
next(myiter)
# no elements left to iter

StopIteration:

iter(collection) creates an iterator and using next we can output one element at a time from the iterator

In [200]:
A

{1, 2, 3, 4, 5}

In [201]:
max(A)

5

In [202]:
min(A)

1

max(set) returns the largest element of a set and min(Set) returns the smallest element of a set

In [203]:
def square_me(n):
    return n*n

In [204]:
map(square_me, A)

In [205]:
sqs=map(square_me, A)

In [206]:
list(sqs)

[1, 4, 9, 16, 25]

In [207]:
sum(A)

15

sum(collection) returns the sum of all the elements of a collection (Set, list, tuple)

In [208]:
ab={1,2,3} #set
bc={'bat','cat','rat'}
cd={'one','two','three'}
de={'one','two','three', 'four'}
ls=[1,2,3] #list

In [209]:
zip(ab, bc)

In [210]:
result=zip(ab, bc)

In [211]:
set(result)

{(1, 'rat'), (2, 'bat'), (3, 'cat')}

In [212]:
result=zip(bc, cd)

In [213]:
set(result)

{('bat', 'two'), ('cat', 'three'), ('rat', 'one')}

In [214]:
result=zip(ab, cd)
set(result)

{(1, 'one'), (2, 'two'), (3, 'three')}

In [215]:
result=zip(ab, de)
set(result)

{(1, 'one'), (2, 'two'), (3, 'three')}

In [216]:
set(zip(de,ls))

{('one', 1), ('three', 3), ('two', 2)}

In [217]:
set(zip(ab,bc,de,ls))

{(1, 'rat', 'one', 1), (2, 'bat', 'two', 2), (3, 'cat', 'three', 3)}

zip() iterator returns a collection of tuples mapping the given collections and it stops after the smallest given collection