# Python - Functions, *args, **kwargs, recursions [3.7]

In [57]:
address="https://www.youtube.com/embed/m1rXWameJe0"
from IPython.display import IFrame
IFrame(address, width="1280", height="720")

def <function name>(<arguments>):
    <code>

__functions with no arguments__

In [3]:
def hello():
    return 'hello'

In [4]:
hello # returns the function itself

In [5]:
hello()

'hello'

In [6]:
def hello():return 'hello'

In [7]:
hello()

'hello'

__functions with predefined number of arguments__

In [8]:
def square(n):return n*n

In [9]:
square(2)

4

In [10]:
square(5)

25

In [12]:
square(3)

9

In [13]:
square('3') # data type is string. it will fail. you can't multiply string by itself.

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
def add(x,y):return x+y

In [15]:
add(3,4)

7

In [16]:
add(1,2)

3

In [17]:
def subtract(x,y):return x-y

In [18]:
subtract(3,5)

-2

In [19]:
subtract(13,5)

8

__functions with unlimited arguments__  
(functions with a sequence of arguments or functions with iterable arguments)

In [21]:
def adder(a,*args):
    total=a
    for arg in args:
        total=total+arg
    return total

In [22]:
adder(1,2,3)

6

In [23]:
adder(1,2,3,4,5,6)

21

In [24]:
adder(*range(0,9))

36

In [25]:
adder(*range(4))

6

In [26]:
1+2+3+4

10

In [27]:
1+2+3

6

In [28]:
def adder(*args):
    total=0
    for arg in args:
        total=total+arg
    return total

In [29]:
adder(1,2,3)

6

In [30]:
adder(1,2,3,4,5,6)

21

__functions with unlimited key value arguments__  
(dictionary as arguments, key value pairs as arguments)

In [31]:
def printout(*args,**kwargs):
    for i in args:
        print(i)
    for key, value in kwargs.items():
        print(key,value)

In [32]:
printout('justice league','jl',batman='bruce',superman='clark')

justice league
jl
batman bruce
superman clark

In [33]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}
num={'1':'one', '2':'two', '3':'three','4':'four','5':'five','6':'six'}
ls1=[1,2,3,4,5,6]
ls2=[7,8,9,10]

In [34]:
printout(ls1)
# it will be treated as just one argument without a * prefix

[1, 2, 3, 4, 5, 6]

In [35]:
printout(*ls1)

1
2
3
4
5
6

In [36]:
tu=(1,2,3,4,5,6)

In [37]:
printout(*tu)

1
2
3
4
5
6

In [38]:
printout(*ls2)

7
8
9
10

In [40]:
printout(*ls1,*ls2)

1
2
3
4
5
6
7
8
9
10

In [41]:
printout(**num)

1 one
2 two
3 three
4 four
5 five
6 six

In [42]:
printout(**sq)
# keywords must be strings

TypeError: printout() keywords must be strings

In [43]:
printout(*ls1,*ls2,**num)

1
2
3
4
5
6
7
8
9
10
1 one
2 two
3 three
4 four
5 five
6 six

def function(arg,*args,**kwargs):
    code

__Recursion__

Recursion is the process of defining something in terms of itself. Imagine 2 mirrors facing each other. Both of them endlessly recursively produce each other's image in itself.

problem: Write a function which calculates the factorial of a given number.  
**Factorial** of a number is the product of all the integers from 1 to that number.

In [44]:
def factorial(n):
    while n!=1:
        return n*factorial(n-1) # this function is calling itself here.
    else:
        return 1

In [45]:
factorial(2)

2

In [46]:
factorial(1)

1

In [47]:
factorial(3)

6

In [48]:
factorial(4)

24

In [49]:
factorial(5)

120

In [50]:
1*2*3*4*5

120

*Any function which calls itself recursively (Repeatedly or endlessly) till it has attained a solution is a recursive function*

In [52]:
# Using if instead of while
def factorial2(n):
    if n==1:
        return 1
    else:
        return n*factorial2(n-1) # this function is calling itself here.

In [53]:
factorial2(5)

120

In [54]:
def fun1(n):
    return n*2

def fun2(somelist):
    for i in somelist:
        print(fun1(i)) # function calling another function

In [55]:
ls1=[1,2,3,4,5]

In [56]:
fun2(ls1)

2
4
6
8
10