# Python - Data Types - Dictionary [3.7]

In [1]:
from IPython.display import IFrame
address='https://www.youtube.com/embed/DMF0-AhvWjE'
IFrame(address, width="1280", height="720")

In [1]:
d = {}
# empty dictionary

In [2]:
type(d)

dict

In [5]:
num={1:'one', 2:'two', 3:'three',4:'four',5:'five',6:'six'}

In [6]:
type(num)

dict

In [7]:
# similar valid examples
d0={1:'one',2:'two'}  
d1={1:'one',2:'two', 3:['tri','three']}  
d2={1:'one',2:'two', 3:['tri','three'], 4:('for', 'four')}

In [8]:
type(d0)

dict

In [9]:
type(d1)

dict

In [10]:
type(d2)

dict

**accessing values**

In [11]:
num[1]

'one'

In [12]:
num[2]

'two'

In [13]:
xd={'bat':'bruce', 'sup':'clark'}

In [15]:
xd['bat']

'bruce'

**dict[key] will return the value of a key from the given dictionary dict.**

In [16]:
num.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [17]:
num.values()

dict_values(['one', 'two', 'three', 'four', 'five', 'six'])

**dict.keys()** returns all the keys  
**dict.values()** returns all the values of a given dictionary  
**dict.items()** returns a list of tuples with each key:value pair

In [18]:
num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')])

In [19]:
num={1:'one', 2:'two', 3:'three',4:'four',5:'five',6:'six'}

In [20]:
num[1]

'one'

In [21]:
num.get(1)

'one'

In [22]:
num[99]

KeyError: 99

In [23]:
num.get(99)

dict.get(key) and dict[key] returns the value of the given key and they will error but num.get() won't error out if the key doesn't exist or invalid but num[key] errors out in this scenario.

In [24]:
num.get(1)

'one'

In [25]:
num.get(99)

In [26]:
num.get(99) is None

True

In [28]:
num.get(99, 'that is not found')

'that is not found'

**dict.get(key, default=None)** gets the value of the key from a given dictionary and if the key isn't present then it returns None by default

In [29]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [31]:
num[9]='nyn'

In [32]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nyn'}

In [34]:
num[9]='nine'
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nine'}

**dict[key]=value** adds key:value pair to a dictionary, if the key already exists then the value of the key will be replaced with the newly provided value.

In [35]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}

In [36]:
type(sq)

dict

In [37]:
sq.pop(2)

4

In [38]:
sq.pop(4)

16

In [39]:
sq

{1: 1, 3: 9, 5: 25}

In [40]:
d0

{1: 'one', 2: 'two'}

In [41]:
d0.clear()

In [42]:
d0

{}

**dict.clear()** clears or empties a given dictionary

In [43]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}

In [44]:
sq.copy()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**dict.copy()** returns a copy of the given dictionary

In [45]:
myset={11,22,33,44,55}

In [46]:
type(myset)

set

In [47]:
dict.fromkeys(myset)

{33: None, 11: None, 44: None, 22: None, 55: None}

In [48]:
dict.fromkeys(myset,'wow')

{33: 'wow', 11: 'wow', 44: 'wow', 22: 'wow', 55: 'wow'}

In [50]:
mylist=[11,22,33,44,55]
type(mylist)

list

In [51]:
dict.fromkeys(mylist)

{11: None, 22: None, 33: None, 44: None, 55: None}

In [52]:
dict.fromkeys(mylist,'wow')

{11: 'wow', 22: 'wow', 33: 'wow', 44: 'wow', 55: 'wow'}

In [53]:
mytup=(11,22,33,44,55)
type(mytup)

tuple

In [54]:
dict.fromkeys(mytup)

{11: None, 22: None, 33: None, 44: None, 55: None}

In [55]:
dict.fromkeys(mytup,'wow')

{11: 'wow', 22: 'wow', 33: 'wow', 44: 'wow', 55: 'wow'}

**dict.fromkeys(keys[, value])** creates a dictionary from a set of given keys with None as their value if a value is not given. You can also create a dictionary with a mutable object list.

In [57]:
value=[9]
type(value)

list

In [58]:
new_d=dict.fromkeys(myset, value)

In [59]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

In [60]:
value.append(1)

In [61]:
value

[9, 1]

In [62]:
new_d

{33: [9, 1], 11: [9, 1], 44: [9, 1], 22: [9, 1], 55: [9, 1]}

In [63]:
value.append('hey')

In [64]:
value

[9, 1, 'hey']

In [65]:
new_d

{33: [9, 1, 'hey'],
 11: [9, 1, 'hey'],
 44: [9, 1, 'hey'],
 22: [9, 1, 'hey'],
 55: [9, 1, 'hey']}

So if the provided value is mutable and when that is updated/changed then the dictionary too will get updated/changed accordingly. You can avoid that with set comprehension.

In [66]:
myset

{11, 22, 33, 44, 55}

In [67]:
value=[9]

In [68]:
new_d={key: list(value) for key in myset}

In [69]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

In [70]:
value.append(9)

In [71]:
value

[9, 9]

In [72]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

In [73]:
value.append(99)

In [74]:
value

[9, 9, 99]

In [75]:
new_d

{33: [9], 11: [9], 44: [9], 22: [9], 55: [9]}

##### properties of keys

 - Only one entry per key is allowed.
     meaning a key can be a string, integer or a tuple but not strings, integers or tuples.
 - A key must be immutable (strings, numbers or tuples)  
 - A key will be unique per dictionary. If a key is updated twice then the last update will be applied.

In [76]:
num

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nine'}

In [77]:
len(num)
# len(dict) gives the length of a dictionary

7

In [78]:
str(num)
# str(dict) covnerts a diven dictionary to a string

"{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 9: 'nine'}"

In [79]:
sq={1:1, 2:4, 3:9, 4:16, 5:25}
d3={'a':'hey','b':'hi','c':'wow','d':'lol'}
d4={'aa':11,'bb':22}
d5={1:'one',2:'two'}

In [80]:
d5.update(sq)
# update the key:value pairs of sq to d5

In [81]:
d5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [82]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [83]:
sq.setdefault(3)

9

In [84]:
sq.setdefault(6)

In [85]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: None}

In [86]:
sq.setdefault(7, 49)

49

In [87]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: None, 7: 49}

**dict.setdefault(key[, default_value])** gets a key's value if present and if absent then inserts the key with the default given value. If a default value is not given then None is set as the default value.

In [88]:
sq.popitem()

(7, 49)

In [89]:
sq.popitem()

(6, None)

**dict.popitem()** pops out the last item (key:value pair) from a diven dictionary

In [90]:
1 in sq

True

In [91]:
2 not in sq

False

In [92]:
22 not in sq

True

In [94]:
22 in sq

False

|method|description|
|-----|-----|
|dict()|creates a dictionary|
|dict.keys()|retrieves all the keys of a dictionary|
|dict.values()|retrieves all the values of a dictionary|
|dict.items()|retrieves all the key:value pairs as a tuple|
|dict.get(key, default=None)|retrieves the key's value of a given dictionary, if key is not present then returns None|
|dict[key]|retrieves the key's value of a given dictionary|
|dict.pop(key)|removes and returns a key:value pair from a given dictionary|
|dict.clear()|empties the given dictionary|
|dict.copy()|returns a copy of a given dictionary|
|dict.fromkeys(keys[, value])|creates a dictionary from all the given keys with their value as None if no value is given|
|dict.update(dict1)|update a dictionary with key values of another dictionary|
|dict.setdefault(key[, default_value])|inserts a key into the dictionary with None as it's value if no default_value is given|
|dict.popitem()|remove and return the last item of a dictionary|
|del dict[key]|deletes a key value pair from the dictionary|

In [95]:
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [96]:
del sq[5]
sq

{1: 1, 2: 4, 3: 9, 4: 16}

##### Building Dictionary

In [99]:
team={}
type(team)

dict

In [100]:
team['batman']='bruce wayne'
team

{'batman': 'bruce wayne'}

In [101]:
team['flashj']='barry'
team

{'batman': 'bruce wayne', 'flashj': 'barry'}

In [102]:
team['superman']='clark'
team

{'batman': 'bruce wayne', 'flashj': 'barry', 'superman': 'clark'}

dict[key]=value adds a key, value or an item to a dictionary

In [103]:
del team['batman']

In [104]:
team

{'flashj': 'barry', 'superman': 'clark'}

##### dictionary to list

In [105]:
sq

{1: 1, 2: 4, 3: 9, 4: 16}

In [106]:
sq.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16)])

In [107]:
list(sq.items())

[(1, 1), (2, 4), (3, 9), (4, 16)]

##### list to dictionary

In [108]:
d6=['one','two','three']
d7=[1,2,3]

In [109]:
zip(d7,d6)

In [110]:
list(zip(d7,d6))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [111]:
dict(list(zip(d7,d6)))

{1: 'one', 2: 'two', 3: 'three'}