# Python - Data Types - Strings [3.7]

In [1]:
import platform
platform.python_version()

'3.7.1'

In [2]:
a=2

In [3]:
type(a)

int

In [4]:
a='2'

In [5]:
type(a)

str

In [6]:
a=9

In [7]:
type(a)

int

In [8]:
str(a)

'9'

In [9]:
type(str(a))

str

In [10]:
a='batman'

In [11]:
type(a)

str

batman  
012345

In [14]:
a[1]

'a'

In [16]:
a[1]='e'
# strings are immutable

TypeError: 'str' object does not support item assignment

How to print quotes in a string?

In [17]:
'The real name of batman is "Bruce Wayne"'

'The real name of batman is "Bruce Wayne"'

In [18]:
"The real name of batman is 'Bruce Wayne'"

"The real name of batman is 'Bruce Wayne'"

In [20]:
"The real name of batman is "Bruce Wayne""

SyntaxError: invalid syntax (<ipython-input-20-00d22089e0af>, line 1)

In [21]:
'The real name of batman is 'Bruce Wayne''

SyntaxError: invalid syntax (<ipython-input-21-f262b755490e>, line 1)

In [22]:
"The real name of batman is \"Bruce Wayne\""

'The real name of batman is "Bruce Wayne"'

In [23]:
'The real name of batman is \'Bruce Wayne\''

"The real name of batman is 'Bruce Wayne'"

## Slicing and Indexing

In [24]:
jl='batman superman'

In [25]:
len(jl)

15

In [26]:
type(jl)

str

In [29]:
jl[0]
# indexing when done from left to right, it starts from 0

'b'

In [30]:
jl[-1]
# indexing when done from right to left, it starts from -1

'n'

In [32]:
jl[1:5]

# from 1st till 5th. Includees the 1st till 5th but excluding 5th.
# The index to the left of colon gets included, the index to the right of the colon gets excluded.

'atma'

#### str[start:end]  
str - string data  
start - the starting index including itself  
end - the ending index excluding itself.
Start gets included  
__End__ gets __excluded__  
In the absence of an endpoint, all from the start index including itself will be selected.  
In the absence of a start, all before th end index excluding itself will be selected.  
In the absence of both the start and end, all will be selected.  
empty start means start from 0.  
empty end means till infinity.

In [34]:
jl[0] # first item

'b'

In [35]:
jl[14] # last item

'n'

In [36]:
jl[:]

'batman superman'

In [37]:
jl[0:]

'batman superman'

In [38]:
jl[6]

' '

In [39]:
jl[-1]

'n'

In [43]:
jl[-15:-1]

'batman superma'

In [45]:
jl[0:14]

'batman superma'

- The count in python from left to right starts with 0  
- The count in python from right to left starts with -1  
- As per general math the length of the string jl is 15 but as per python it will always be one less than the actual mathematical length, that is 14.  
- Irrespective of whether you index from left or right, the item appearing at the index mentioned on right side of the colon(:) is always exluded from the result.

In [47]:
jl

'batman superman'

In [50]:
jl[:-1]

'batman superma'

In [52]:
jl[-16:-1]

'batman superma'

In [53]:
jl[0:15:1]

'batman superman'

In [54]:
jl[0:15:2]

'bta uemn'

In [55]:
jl[0:15:3]

'bm pm'

string[start:end:move right by position]

In [56]:
jl[5:10]

'n sup'

In [57]:
jl[10:5]

''

In [58]:
jl[10:5:-1]

'epus '

In [64]:
jl[15:5:-1]

'namrepus '

- when the skip integer is positive integer then it means that we are moving from left to right.  
if it is 1 then **It means get the next 1st item from the right.**  
if it is 2 then **It means get the next 2nd item from the right.**
- when the skip integer is a negative integer then it means that we are moving from right to left.

In [68]:
jl[5::-1]

'namtab'

In [67]:
jl

'batman superman'

In [74]:
jl[:6:1]

'batman'

In [75]:
jl[:4:-1]

'namrepus n'

In [78]:
jl

'batman superman'

In [79]:
jl[:5:]
# from 0 till 5th

'batma'

In [80]:
jl[::4]

'baum'

In [81]:
jl[::]

'batman superman'

## Insert variables inside a string

In [82]:
first='gajendra'

In [83]:
last='ambi'

In [84]:
type(first)

str

In [85]:
type(last)

str

In [87]:
f'{first} {last}'

'gajendra ambi'

In [89]:
f"{first} {last}"

'gajendra ambi'

In [90]:
F"{first} {last}"

'gajendra ambi'

In [91]:
F'{first} {last}'

'gajendra ambi'

## String operators

### + operator

In [93]:
a='bat'
b='man'

In [94]:
a+b

'batman'

In [95]:
a=2

In [96]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### * operator

In [97]:
a='cat'

In [98]:
a*3

'catcatcat'

In [99]:
a

'cat'

In [100]:
a*-1

''

In [101]:
a*1

'cat'

In [102]:
a*-33

''

### Built in functions

| Function | Action |
| ---- | ---- |
| chr() | integer to character |
| str() | converts to string |
| ord() | character to integer |
| len() | length of a string |

In [104]:
batman,superman='bruce','clark'
# multiple variable assignment

In [105]:
batman

'bruce'

In [106]:
superman

'clark'

#### chr()  
returns a  character value for the given integer

In [107]:
chr(9)

'\t'

In [108]:
chr(108)

'l'

In [109]:
chr(999)

'ϧ'

In [110]:
chr(10000)

'✐'

#### str()  
converts given value to string value

In [111]:
str(9)

'9'

In [112]:
str(1000)

'1000'

#### ord()  
converts a given character to an integer

In [113]:
ord('✐')

10000

In [114]:
ord('ϧ')

999

#### len()  
show the length of a string

In [115]:
len('hello world')

11

In [116]:
bat=batman

In [117]:
len(bat)

5

## String constants

| constant | action | result |
| ----- | ----- | ----- |
| ascii_lowercase | lowercase alphabets | 'abcdefghijklmnopqrstuvwxyz' |
| ascii_uppercase | uppercase alphabets | 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' |
| ascii_letters | upper and lower alphabets | 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' |
| digits | digits | '0123456789' |
| hexdigits | all hexagonal | '0123456789abcdefABCDEF' |
| octdigits | all otagonal | '01234567' |
| punctuation | all punctuates | ```!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~``` |
| printable | all printables | ```0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c``` |
| whitespace | characters which are used for spacing | ' \t\n\r\x0b\x0c' |


Note :- All output data type is string.

### Whitespace
| whitespace | Description |
|-----|-----|
| ```  ``` | Space |
| \t | tab |
| \n | linefeed(new line) |
| \r | return(enter key on keyboard) |
| \x0b | formfeed |
| \x0c | vertical tab |

In [119]:
import string

In [120]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [121]:
a=string.ascii_lowercase

In [122]:
type(a)

str

In [123]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [125]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [126]:
string.digits

'0123456789'

In [127]:
string.hexdigits

'0123456789abcdefABCDEF'

In [128]:
string.octdigits

'01234567'

In [130]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [131]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [132]:
string.whitespace

' \t\n\r\x0b\x0c'

### helper functions

In [133]:
a='batman'

In [134]:
a.capitalize()

'Batman'

In [135]:
a.upper()

'BATMAN'

In [137]:
b='SUPERMAN'

In [138]:
b.lower()

'superman'

In [139]:
min(b)

'A'

In [140]:
max(b)

'U'

##### min()  
 returns the minimum letter in a string. The letter which is closest to the 1st alphabet.  
##### max()  
 returns the maximum letter in a string. The letter which is fartherst to the 1st alphabet.

In [143]:
a,b,c='batman','superman','flash'

In [144]:
max(a)

't'

In [145]:
max(b)

'u'

In [146]:
max(c)

's'

In [148]:
a.split('t')
# split based on a character

['ba', 'man']

In [149]:
data='first_middle_last'

In [150]:
data.split('_')

['first', 'middle', 'last']

In [151]:
data.split('_',1)

['first', 'middle_last']

In [152]:
data.split('_',2)

['first', 'middle', 'last']

In [153]:
data.split('_',22)

['first', 'middle', 'last']

##### .split('delimeter', n)  
splits a string. It takes an input. .split(), .split('some character') are accepted usages, .split('') is not an accepted usage. optionally you can specify how many times it should split, default is infinite.

In [154]:
alphas=string.ascii_lowercase

In [155]:
alphas

'abcdefghijklmnopqrstuvwxyz'

In [156]:
alphas=list(alphas)

In [157]:
type(alphas)

list

In [158]:
alphas

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [159]:
''.join(alphas)

'abcdefghijklmnopqrstuvwxyz'

In [160]:
'_'.join(alphas)

'a_b_c_d_e_f_g_h_i_j_k_l_m_n_o_p_q_r_s_t_u_v_w_x_y_z'

In [161]:
'*'.join(alphas)

'a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z'

##### ''.join()  
joins a list of strings provided in () and it optionally takes a character to join with

In [163]:
a

'batman'

In [164]:
count(a)

NameError: name 'count' is not defined

In [165]:
a.count('a')

2

In [168]:
'batman'.count('a')

2

In [169]:
'gooogle'.count('o')

3

##### ''.count()  
counts the number of times a substring appears in a string. 'string'.count('substring')

In [170]:
text='justice league'
result=text.zfill(25)

In [171]:
result

'00000000000justice league'

In [172]:
len(result)

25

In [173]:
text.zfill(4)

'justice league'

##### .zfill(n)   
increases the length of a string to n where n is not None or empty. It doesn't do anything if n is less than the length of the string.

In [174]:
text.istitle()

False

In [175]:
'Batman'.istitle()

True

In [177]:
'Justice League'.istitle()

False

In [178]:
data='Red is a color, Green is a color, Blue is a color cat is an animal'

In [179]:
data

'Red is a color, Green is a color, Blue is a color cat is an animal'

In [180]:
data.rpartition('is')

('Red is a color, Green is a color, Blue is a color cat ', 'is', ' an animal')

#### ''.rpartition('') (right partition)  
partitions a string at the last occurence of a given substring. Here is how you use it.  
- string.rpartition(substring)  
the output will be  
- (string, substring, partition)

In [181]:
data.partition('is')

('Red ', 'is', ' a color, Green is a color, Blue is a color cat is an animal')

#### ''.partition('')  
partitions a string at the **first** occurence of a given substring. Here is how you use it.  
- string.partition(substring)  
the output will be  
- (string, substring, partition)

In [182]:
jl='batman superman'

In [183]:
jl.isidentifier()

False

In [184]:
jl='batmansuperman'

In [185]:
jl.isidentifier()

True

In [186]:
jl='_Btmansuperman'

#### .isidentifier()  
checks if the given string is an identifier and returns a boolean (True or False) result.  
A Python **identifier** is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore ( _ ) followed by zero or more letters, underscores and digits (0 to 9)

In [187]:
bat='batman'

In [188]:
bat.center(9)

'  batman '

In [189]:
bat.center(19)

'       batman      '

In [190]:
bat.center(19,'*')

'*******batman******'

#### str.center(int, string)  
adds as many string as needed around the given str to align it to the center.  
string - optional parameter  
int - mandatory parameter

In [193]:
jl='batman, superman, aquaman, wonderwoman, flash'

In [194]:
jl.rfind('man')

35

In [195]:
len(jl)

45

In [196]:
jl.rfind('man',0,15)

3

In [197]:
jl.rfind('man',15,45)

35

In [200]:
jl.rfind('man',40,45)

-1

#### str.rfind(subs, start, end)  
right find or find from right to left  
str - input string  
subs - substring to search for  
start - the starting index of string from where the search begins  
end - the ending string at where the search ends  
returns -1 if not found.

In [201]:
jl.find('man')

3

In [202]:
jl.rfind('man')

35

In [203]:
jl.find('man', 0, 16)

3

In [204]:
jl.rfind('man', 0, 16)

13

#### str.find(subs, start, end)

str - input string  
subs - substring to search for  
start - the starting index of string from where the search begins  
end - the ending string where the search ends  
returns -1 (minus 1) if not found.

In [205]:
a,b,c='batman','superman','flash'

In [206]:
id(a)

19528288

In [207]:
id(b)

19512640

In [208]:
id(c)

19546848

In [209]:
d='batman'

In [210]:
id(d)

19528288

In [212]:
id(a) == id(d)

True

In [213]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [214]:
jl.replace('a','@')

'b@tm@n, superm@n, @qu@m@n, wonderwom@n, fl@sh'

In [215]:
a

'batman'

In [216]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [218]:
jl.replace('a','@',2)

'b@tm@n, superman, aquaman, wonderwoman, flash'

#### str.replace('old','new'[,count])  
str - string  
old - substring which will get replaced  
new - replace the substring with this one  
count - This many times the replacing will occur. If this value is not given, it will be done for the whole string.

In [220]:
jlu=jl.upper() # makes all of them upper

In [224]:
jlu

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [226]:
jlu.casefold()
# aggressively lowercase the string

'batman, superman, aquaman, wonderwoman, flash'

In [227]:
jl.count('a')

8

In [229]:
jl.count('a',0,5)
# str.count(sub[,start[,end]])

2

In [230]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [232]:
jl.encode()
# str.encode() encodes a string into a given encoding style

b'batman, superman, aquaman, wonderwoman, flash'

In [233]:
jl.encode(encoding="utf-8",errors='strict')

b'batman, superman, aquaman, wonderwoman, flash'

In [234]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [237]:
jl.startswith('b')
# str.startswith(substring) checks if a given string starts with a substring

True

In [236]:
jl.startswith('n')

False

In [238]:
jl.endswith('n')

False

In [240]:
jl.endswith('h')
# str.endswith(substring) checks if a given string ends with a substring

True

In [241]:
jlt='\tbatman \t\t superman'

In [242]:
jlt

'\tbatman \t\t superman'

In [243]:
jlt.expandtabs(tabsize=5)

'     batman          superman'

In [244]:
jlt.expandtabs()
# returns a copy of the strign where tabs are replaced by spaces

'        batman           superman'

In [247]:
jlt.expandtabs(tabsize=19)

'                   batman                                 superman'

In [248]:
jlt

'\tbatman \t\t superman'

In [249]:
jlt.expandtabs()

'        batman           superman'

In [250]:
'{}  is part of justice league'.format('martian')

'martian  is part of justice league'

str.format('subs') is used to format a string, insert variables or values inside a string

In [251]:
bs={'batman':'bruce wayne', 'superman':'clark kent'}

In [252]:
bs

{'batman': 'bruce wayne', 'superman': 'clark kent'}

In [253]:
'{batman} and {superman} are pals'.format_map(bs)

'bruce wayne and clark kent are pals'

str.format(dict) maps a dictionary key values in a string

In [254]:
jl.find('a')

1

In [255]:
jl.index('a')

1

In [256]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [257]:
jl.find('x')

-1

In [259]:
jl.index('x')
# It is similar to str.find() but returns a ValueError instead of -1 if the substring is not found

ValueError: substring not found

In [260]:
jl.rindex('a')

42

In [261]:
len(jl)

45

In [262]:
'a9'.isalnum()

True

In [263]:
'9'.isalnum()

True

In [264]:
'a'.isalnum()

True

In [265]:
''.isalnum()

False

In [266]:
'a8!'.isalnum()

False

In [267]:
'x'.isalpha() or 'x'.isdecimal() or 'x'.isdigit() or 'x'.isnumeric() 
# if any of these conditions are True then 'x'.isalnum() is True

False

In [268]:
'9'.isalpha()

False

In [270]:
'12'.isdecimal()

True

In [275]:
'1'.isdigit()

True

In [276]:
'1'.isnumeric()

True

In [277]:
jl.islower()

True

In [280]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [281]:
jl.isupper()

False

In [282]:
'BAT'.isupper()

True

In [283]:
jlc=jl.capitalize()

In [284]:
jlc

'Batman, superman, aquaman, wonderwoman, flash'

In [286]:
jlc.isupper()

False

In [289]:
''.isspace()

False

In [290]:
' '.isspace()

True

In [291]:
'    bat    '.lstrip()
# left strips the space

'bat    '

In [292]:
'    bat    '.rstrip()
# right strips the space

'    bat'

In [294]:
'    bat    '.strip()
# left and right strips the space

'bat'

In [295]:
'https://www.youtube.com'.rstrip('com')
# remove com from the right

'https://www.youtube.'

In [296]:
'https://www.youtube.com'.lstrip('com')
# there is no com in the left so nothing happens

'https://www.youtube.com'

In [297]:
'https://www.youtube.com'.rstrip('co')

'https://www.youtube.com'

In [298]:
'https://www.youtube.com'.lstrip('https')

'://www.youtube.com'

In [299]:
'https://www.youtube.com'.strip('com')

'https://www.youtube.'

In [305]:
my_translation_table=str.maketrans('aeiou', '@3!09')

In [306]:
my_translation_table

{97: 64, 101: 51, 105: 33, 111: 48, 117: 57}

In [307]:
data='the batman who laughs'

In [308]:
data

'the batman who laughs'

In [309]:
data.translate(my_translation_table)

'th3 b@tm@n wh0 l@9ghs'

str.makestrans(intable,outtable) creates a transaction table to be used against str.translate(transactiontable) to do a replacement of substrings

In [310]:
data

'the batman who laughs'

In [311]:
data.rjust(50)

'                             the batman who laughs'

In [312]:
data.ljust(50)

'the batman who laughs                             '

In [314]:
data.rjust(50, '$')

'$$$$$$$$$$$$$$$$$$$$$$$$$$$$$the batman who laughs'

In [315]:
data.ljust(50, '$')

'the batman who laughs$$$$$$$$$$$$$$$$$$$$$$$$$$$$$'

**str.ljust(width[, fillchar])**  
**str.rjust(width[, fillchar])**  
ljust - left adjust. Insert empty or given 'fillchar' to the left of the given str.  
rjust - right adjust. Insert empty or given 'fillchar' to the right of the given str.  
width - Total len() (length) of the output. meaning how long the output should be...
fillchar - insert this character to make the given string to make it 'width' long. If this value is not provided then python is going to just put enough spaces to make it 'width' long.

In [316]:
data.rsplit(sep=None,maxsplit=-1)

['the', 'batman', 'who', 'laughs']

In [317]:
data.rsplit(sep=None,maxsplit=1)

['the batman who', 'laughs']

In [320]:
data.split(sep=None,maxsplit=-1)

['the', 'batman', 'who', 'laughs']

In [321]:
data.split(sep=None,maxsplit=1)

['the', 'batman who laughs']

In [322]:
data.rsplit(sep=None,maxsplit=2)

['the batman', 'who', 'laughs']

In [323]:
data.rsplit(sep='a',maxsplit=2)

['the batm', 'n who l', 'ughs']

In [324]:
data

'the batman who laughs'

In [325]:
data.split(sep='a',maxsplit=2)

['the b', 'tm', 'n who laughs']

**str.rsplit(separator, maxsplit)**  
**str.split(separator, maxsplit)**  
str - Input string  
rsplit - right split or start splitting from right  
split - split or start splitting from left (default)  
separator - The substring on which the split should be performed  
maxsplit - number of splits to perform. If this input is not provided then it will be done indefinitely.

In [326]:
''.splitlines()

[]

In [327]:
'hello'.splitlines()

['hello']

In [328]:
'hello world'.splitlines()

['hello world']

In [329]:
'hello \n\n\n\nworld\n'.splitlines()

['hello ', '', '', '', 'world']

In [330]:
'hello \n\n\n\nworld\n'.splitlines(keepends=True)

['hello \n', '\n', '\n', '\n', 'world\n']

str.splitlines() breakes as per the following table  

|Representation|Description|
|-----|-----|
|\n|	|Line Feed|
|\r	 	|Carriage Return|
|\r\n	|Carriage Return + Line Feed|
|\v or \x0b|	Line Tabulation|
|\f or \x0c|	Form Feed|
|\x1c	|File Separator|
|\x1d	|Group Separator|
|\x1e	|Record Separator|
|\x85	|Next Line (C1 Control Code)|
|\u2028|Line Separator|
|\u2029|Paragraph Separator|

In [331]:
'hello \n\r\v\x1cworld\n\r\u2029'.splitlines()

['hello ', '', '', '', 'world', '', '']

In [332]:
jl

'batman, superman, aquaman, wonderwoman, flash'

In [333]:
jl.swapcase()

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [335]:
jlu=jl.upper()

In [336]:
jlu

'BATMAN, SUPERMAN, AQUAMAN, WONDERWOMAN, FLASH'

In [337]:
jlu.swapcase()

'batman, superman, aquaman, wonderwoman, flash'