# Python - Set comprehensions [3.7]

In [68]:
address='https://www.youtube.com/embed/KLfwzvZJqL0'
from IPython.display import IFrame
IFrame(address, width="1280", height="720")

In [16]:
nums=set(range(9))
nums

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
type(nums)

set

In [18]:
{i+10 for i in nums}

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [19]:
# odd numbers
{i for i in nums if i%2}

{1, 3, 5, 7}

In [30]:
# odd numbers
{i for i in nums if i%2==True}

{1, 3, 5, 7}

In [31]:
# odd numbers
{i for i in nums if i%2!=0}

{1, 3, 5, 7}

In [20]:
# even numbers
{i for i in nums if i%2==0}

{0, 2, 4, 6, 8}

In [21]:
for i in nums:
    print(i%2)
    print(bool(i%2))

0
False
1
True
0
False
1
True
0
False
1
True
0
False
1
True
0
False

In [22]:
# odd numbers
{i for i in nums if i%2!=0}

{1, 3, 5, 7}

In [25]:
2%2

0

In [26]:
bool(0)

False

In [27]:
1%2

1

In [28]:
bool(1)

True

In [33]:
# even numbers
{i for i in nums if i%2==False}

{0, 2, 4, 6, 8}

In [34]:
{s for s in [1,2,1,0]}

{0, 1, 2}

In [35]:
set([1,2,1,0])

{0, 1, 2}

In [36]:
{s for s in [1,2,3,0]}

{0, 1, 2, 3}

In [37]:
{s**2 for s in range(4)}

{0, 1, 4, 9}

In [38]:
{s**3 for s in range(4)}

{0, 1, 8, 27}

In [39]:
list(range(3))

[0, 1, 2]

In [40]:
list(range(3,5))

[3, 4]

In [41]:
{(a,b) for a in range(3) for b in range(3,5)}

{(0, 3), (0, 4), (1, 3), (1, 4), (2, 3), (2, 4)}

### Get a set of non prime numbers

Let us get a list of prime nubmers from range (2,9).  
First we will find all numbers which are a multiple of numbers in range(2,9)  
Add 1 to the set since 1 is not prime

In [43]:
nums={a*b for b in range(2,9) for a in range(2,9)}
nums

{4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 42,
 48,
 49,
 56,
 64}

In [44]:
nums.add(1)

prime numbers in range(2,9)

In [45]:
{p for p in range(2,9) if p not in nums}

{2, 3, 5, 7}

In [46]:
nums={a*b for b in range(2,100) for a in range(2,100)}
nums.add(1)

In [48]:
{p for p in range(2,100) if p not in nums}

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

In [56]:
### Multiple for iterations

s1=set(range(0,3))
s2=set(range(3,6))

In [50]:
s1

{0, 1, 2}

In [51]:
s2

{3, 4, 5}

In [52]:
{(x+y) for x in s1 for y in s2}

{3, 4, 5, 6, 7}

In [53]:
{(x, y) for x in s1 for y in s2}

{(0, 3), (0, 4), (0, 5), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5)}

In [54]:
{(x+y) for x in s1 for y in s2 if x%y!=0}

{4, 5, 6, 7}

In [57]:
nums=set(range(-4,4))
nums

{-4, -3, -2, -1, 0, 1, 2, 3}

In [58]:
{n*2 for n in nums if n>=0}

{0, 2, 4, 6}

__apply a function or method to a set__

In [59]:
# get the absolute value
{abs(n) for n in nums}

{0, 1, 2, 3, 4}

In [60]:
# get the octal value
{oct(n) for n in nums}

{'-0o1', '-0o2', '-0o3', '-0o4', '0o0', '0o1', '0o2', '0o3'}

In [61]:
jl={'batman', ' superman', ' aquaman', ' flash', ' wonderwoman'}
# is a string ends with 'sh' then make it uppercase

In [62]:
{i.upper() for i in jl if i.endswith('sh')}

{' FLASH'}

In [63]:
{i.upper() for i in jl if i.endswith('man')}

{' AQUAMAN', ' SUPERMAN', ' WONDERWOMAN', 'BATMAN'}

In [64]:
{i.strip() for i in jl}

{'aquaman', 'batman', 'flash', 'superman', 'wonderwoman'}

In [65]:
# list of numbers from the range(99) which are divisible by 2 & 3
{x for x in range(99) if x%2==0 if x%3==0}

{0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96}

In [66]:
# In the range(9) if x<5 then multiply it with 10 and if not then multiply it with 3 
{x*10 if x<5 else x*3 for x in range(9)}

{0, 10, 15, 18, 20, 21, 24, 30, 40}

In [67]:
# Do a list comprehension of the above and observe the difference
[x*10 if x<5 else x*3 for x in range(9)]

[0, 10, 20, 30, 40, 15, 18, 21, 24]