# Python - Data Types - Tuple [3.7]

In [2]:
from IPython.display import IFrame
address='https://www.youtube.com/embed/Ltm2VKtRauY'
IFrame(address, width="1280", height="720")

In [1]:
t=()
# create an empty tuple

In [2]:
type(t)

tuple

In [4]:
tu=(1)

In [5]:
type(tu)

int

In [6]:
ls1=[1]

In [7]:
type(ls1)

list

In [9]:
tu=(1,)
# a tuple with single element ends with a comma

In [11]:
type(tu)

tuple

In [12]:
tu=(1,2)

In [13]:
type(tu)

tuple

In [14]:
t=1,2

In [15]:
type(t)

tuple

In [16]:
import string

In [17]:
string.digits

'0123456789'

In [18]:
t1=string.digits

In [19]:
type(t1)

str

In [20]:
t1=tuple(t1)

In [21]:
type(t1)

tuple

In [22]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

__tuple packing__

In [24]:
t2=1,2,3

In [25]:
t2

(1, 2, 3)

In [26]:
t2=1

##### sequence unpacking  
It does something opposite of tuple packing.  
It maps the values on the left with the valus of the tuple on the right.

__sequence unpacking__

In [28]:
x,y,z=t2

TypeError: cannot unpack non-iterable int object

In [32]:
t2=1,2,3

In [33]:
x,y,z=t2

In [34]:
x

1

In [35]:
y

2

In [36]:
z

3

In [39]:
bool1=(True, True, True)
bool2=(True, False, True)
bool3=(False, False, False)

In [41]:
all(bool1)

True

`all(tuple)` checks if `all` the values of `tuple` are True.  
`any(tuple)` checks if `any` value of `tuple` is True.

In [42]:
any(bool1)

True

In [43]:
any(bool2)

True

In [44]:
any(bool3)

False

In [48]:
t1=tuple(string.digits)

In [49]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [50]:
enumerate(t1)

In [51]:
a=enumerate(t1)

In [52]:
a

In [53]:
tuple(a)

((0, '0'),
 (1, '1'),
 (2, '2'),
 (3, '3'),
 (4, '4'),
 (5, '5'),
 (6, '6'),
 (7, '7'),
 (8, '8'),
 (9, '9'))

In [56]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [58]:
alt=tuple(string.ascii_lowercase)
alt

('a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z')

In [59]:
type(alt)

tuple

In [60]:
a=enumerate(alt)

In [61]:
a

In [62]:
tuple(a)

((0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z'))

In [63]:
tuple(enumerate(t1))

((0, '0'),
 (1, '1'),
 (2, '2'),
 (3, '3'),
 (4, '4'),
 (5, '5'),
 (6, '6'),
 (7, '7'),
 (8, '8'),
 (9, '9'))

In [66]:
tuple(enumerate(t1, 109))

((109, '0'),
 (110, '1'),
 (111, '2'),
 (112, '3'),
 (113, '4'),
 (114, '5'),
 (115, '6'),
 (116, '7'),
 (117, '8'),
 (118, '9'))

In [67]:
len(t1)

10

In [68]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [69]:
max(t1)

'9'

In [70]:
min(t1)

'0'

In [71]:
t2

(1, 2, 3)

In [72]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [73]:
t1+t2
# tuple concatenation

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 1, 2, 3)

In [74]:
1 in t1

False

In [75]:
'1' in t1

True

In [76]:
1 not in t1

True

`x in tuple` checks if `x` is a member of `tuple`  
`x not in tuple`checks if `x` is not a member of `tuple`

In [77]:
t1

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

In [78]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [79]:
jl=['batman', 'superman', 'flash']
type(jl)

list

In [80]:
tuple(jl)
# converts a collection to a tuple

('batman', 'superman', 'flash')

In [81]:
t1.count('1')
# tuple.count(x) counts how many times x has occurred in the given tuple

1

In [82]:
t1.count(1)

0

In [83]:
t1.index('9')
# tuple.index(x) gets the index of 'x' from a given tuple.

9