# Python - operators [3.7]

In [129]:
from IPython.display import IFrame
address='https://www.youtube.com/embed/e2qQ_T6njhs'
IFrame(address, width="1280", height="720")

### logical (boolean) operators

In [3]:
a=True
b=True
c=False
d=False

In [4]:
a and b

True

In [5]:
a and c

False

In [6]:
a

True

In [7]:
not a

False

In [8]:
not c

True

In [9]:
True or False

True

|logical/boolean operator|description|usage|
|-----|-----|-----|
|and|True if both operands are True|a and b|
|or|True if any operand is True|a or b|
|not|negates the given operand|not a|

### Airthmatic operators

In [11]:
30+3
# addition operator

33

In [12]:
30-3
# substraction operator

27

In [13]:
3*3
# multiply operator

9

In [14]:
33/3
# division operator

11.0

In [15]:
34//4
# floor division operator

8

In [20]:
34/4

8.5

In [16]:
33%3

0

In [17]:
34%4
# modulus operator

2

In [18]:
3**3
# exponent operator

27

In [19]:
2**2

4

|Arithmatic operator|description|usage|
|-----|-----|-----|
|+|adds |a+b|
|-|subtract |a-b|
|*|multiply |a*b|
|**|exponent |a**b|
|/|division |a/b|
|//|floor division|a//b|
|%|modulus|a%b|

### comparison operator

In [22]:
1>2
# is 1 greater than 2 ?

False

In [23]:
1<2
# is 1 less than 2 ?

True

In [24]:
1<=2
# is 1 less than or equal to 2

True

In [25]:
2>1
# is 2 greater than 1?

True

In [26]:
2>=1
# is 2 greater than or equal to 1 ?

True

In [27]:
2==2
# is 2 equal to 2 ?

True

In [28]:
2==(4-2)

True

In [29]:
22!=2
# Is 22 not equal to 2?

True

|Comparison operator|description|usage|
|-----|-----|-----|
|>|greater than|a>b|
|<|less than|a<b|
|==|equal|a==b|
|!=|not equal|a!=b|
|<=|less than or qual to|a<=b|
|>=|greater than or equal to|a>=b|

### Identity operators

In [31]:
1 is 1

True

In [32]:
1 is not 1

False

In [33]:
a=11
b=11
c=22

In [34]:
a is b

True

In [35]:
a is 22

False

In [36]:
a is 11

True

In [37]:
11 is a

True

In [38]:
22 is not a

True

|Identity operator|Description|Usage|
|-----|-----|-----|
|is|True if 2 objects are the same|a is b|
|is not|True if 2 objects are not the same| a is not b|

In [39]:
2 is '2'

False

### Membership operators

In [41]:
a='python'
b=[1,2,3,4]
c=(5,6,7)
d={1:'one',2:'two'}

In [42]:
a

'python'

In [43]:
'p' in a

True

In [45]:
'p' in 'python'

True

In [46]:
'y' in a

True

In [47]:
'x' in a

False

In [48]:
'p' not in a

False

In [49]:
1 in b

True

In [50]:
1 in d

True

In [51]:
'one' in d

False

In [53]:
'one' in d.values()

True

In [54]:
d.values()

dict_values(['one', 'two'])

In [55]:
3 in d

False

In [56]:
d

{1: 'one', 2: 'two'}

In [57]:
3 not in d

True

|Memebership opeartor|Description|Usage|  
|-----|-----|-----|
|in|True if the item is in the given sequence|a in b|
|not in|True if the item is not in the given sequence|a not in b|

### Bitwise operators

In [58]:
1 & 1
# 1 AND 1

1

In [59]:
1 & 0
# 1 AND 0

0

In [60]:
True & True

True

In [61]:
True & False

False

In [62]:
3 & 4

0

In [63]:
3 | 4
# 3 OR 4

7

In [64]:
~1
# NOT 1

-2

In [65]:
~-2

1

In [66]:
~(-2)

1

In [67]:
~True
# NOT True

-2

In [68]:
~False
# NOT False

-1

In [69]:
3^4
# 4 XOR 3

7

In [70]:
4>>1
# right shift 4 by 1

2

In [71]:
2<<1
# Left shift 2 by 1

4

|Bitwise operator|Description|Usage|
|-----|-----|-----|
|& AND|Sets each bit to 1 if both bits are 1|a & b|
|| OR|Sets each bit to 1 if one of two bits is 1|a \| b|
|^ XOR|Sets each bit to 1 if only one of two bits is 1|a^b|
|~ NOT|Inverts all the bits|~a|
|<< Zero fill left shift|Shift left by pushing zeros in from the right and let the leftmost bits fall off|x<<y|
|>> Zero fill right shift|Shift right by pushing zeros in from the right and let the rightmost bits fall off|x>>y|

### Assignment operators

In [72]:
x=5
# equal assignment operator. Assigning value 5 to x.

In [73]:
x

5

In [74]:
x+=3
# update the value of x by adding 3 to it. IT is a short form of x=x+3

In [75]:
x

8

In [78]:
x=5

In [79]:
x=x+3
x

8

In [80]:
x-=3
# update the value fo x by substracting from it. It is a short form of x=x-3

In [81]:
x

5

In [82]:
x=8

In [83]:
x=x-3
x

5

In [84]:
x*=3
# update the value of x by multiplying x to it. It is a short form of x=x*3

In [85]:
x

15

In [86]:
x=5

In [87]:
x=x*3
x

15

In [88]:
x/=3
# update the value of x by dividing x by 3. It is a short form of x=x/3

In [89]:
x

5.0

In [90]:
x=15

In [91]:
x

15

In [92]:
x%=2
# update the value fo x by the reminder of x/2. Divide x by 2 and set the remainder as the new value fo x.

In [93]:
x

1

In [95]:
15%2

1

In [97]:
x=5

In [98]:
x//=4
# perform a floor division of x by 4 and set the remainder as the new value of x. x=x//4
x

1

In [99]:
5/4

1.25

In [100]:
5//4

1

In [103]:
x=5

In [104]:
x**=3
# update the value of x with an exponential multiplication of x by 3.
# perform an exponential multiplication of x by 3 and set that value as the new value of x.

In [105]:
x

125

In [107]:
5**3

125

In [108]:
x=5
x=x**3
x

125

In [109]:
x&=3
# Do a bitwise AND operation of x and 3 and then set the result as the new value of x.

In [110]:
x

1

In [111]:
125&3

1

In [116]:
x=9

In [117]:
x|=3
# Do a bitwise OR operation of x and 3 and set the result as the new value of x

In [118]:
x

11

In [119]:
x=9
x|=3
x

11

In [121]:
x=9
x=x|3
x

11

In [123]:
x=5
x^=3
x
# Do a bitwise XOR operation of x and 3 and set the result as 
# the new value of x

6

In [124]:
x=5
x>>=2
# Do a bitwise 'zero fill right shift' on x with 2 and set the
# result as the new value of x
x

1

In [125]:
x<<=3
# Do a bitwise 'zero fill left shift' on x with 3 and set the
# result as the new value of x
x

8

In [126]:
x=5
x>>=2
x

1

In [127]:
x<<=2
x

4

In [128]:
x=1
x<<=3
x

8

|Assignment operator|example|what it means|
|-----|-----|-----|
|=|x=2|x=2| 
|+= x | += 3 | x = x + 3|
|-= x | -= 3 |x = x - 3 |
|*= x | *= 3 | x = x * 3|
|/= x | /= 3 | x = x / 3|
|%= x | %= 3 | x = x % 3|
|//= | x //= 3| x = x // 3| 
|**= | x **= 3| x = x ** 3| 
|&= x | &= 3 | x = x & 3| 
||= x | |= 3 | x = x \| 3| 
|^= x | ^= 3 | x = x ^ 3| 
|>>= | x >>= 3| x = x >> 3| 
|<<= | x <<= 3| x = x << 3|