# Python - Data Types - Lists [3.7]

In [1]:
from IPython.display import IFrame
address='https://www.youtube.com/embed/N3vjasqpQTs'
IFrame(address, width="1280", height="720")

In [2]:
import platform
platform.python_version()

'3.7.1'

In [3]:
import string

In [4]:
jl='batman, superman, aquaman, flash, wonderwoman'

In [5]:
type(jl)

str

In [6]:
jl=jl.split(',')

In [7]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [8]:
type(jl)

list

## Indexing and Slicing

In [9]:
jl[0] # first item

'batman'

In [12]:
jl[-1] # last item

' wonderwoman'

Index from left to right starts with 0  
Index from right to left starts with -1

In [13]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [14]:
alphas=string.ascii_lowercase

In [15]:
type(alphas)

str

In [16]:
al=list(alphas)

In [17]:
al

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [18]:
type(al)

list

In [19]:
al[0]

'a'

In [20]:
al[0:9]
# from 0 till 9 (excluding 9th item)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [21]:
al[0:9:1]
# from 0 till 9, get every 1st element

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [22]:
al[0:9:2]
# from 0 till 9, every 2nd element

['a', 'c', 'e', 'g', 'i']

In [26]:
al[::]
# default start = 0
# defatul end = infinity or lenght of the list
# default jumto = 1

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

##### list[start:end:jumpto]  
start - It is an integer. start of index which will be included in the result.  
end - It is an integer. **End** of index which gets **excluded**.  
In short, End gets excluded or right of the colon gets excluded.  
jumpto - between start and end index jumpto the index and print only that.

In [30]:
al[22::]

['w', 'x', 'y', 'z']

In [31]:
al[:22:]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v']

In [32]:
al[::9]

['a', 'j', 's']

In [33]:
len(al)

26

In [35]:
al[19:len(al):]

['t', 'u', 'v', 'w', 'x', 'y', 'z']

In [42]:
als=al[:len(al):5]

In [43]:
als

['a', 'f', 'k', 'p', 'u', 'z']

In [50]:
als.append('9')
# list.append(x) appends x to the list (at the end)

In [46]:
als

['a', 'f', 'k', 'p', 'u', 'z', '9']

In [47]:
len(als)

7

In [51]:
als[6]=66
#add an item to the particular index or position of the list. In this example insert 66 at 6th place/position/index of the list.

In [49]:
als

['a', 'f', 'k', 'p', 'u', 'z', 66]

In [53]:
nums=(1,2,3,4,5)

In [54]:
als.extend(nums)

In [55]:
als

['a', 'f', 'k', 'p', 'u', 'z', 66, '9', 1, 2, 3, 4, 5]

In [56]:
nums=[1,2]

In [57]:
als.extend(nums)

In [58]:
als

['a', 'f', 'k', 'p', 'u', 'z', 66, '9', 1, 2, 3, 4, 5, 1, 2]

In [59]:
nums={1,2}

In [60]:
als.extend(nums)

In [61]:
als

['a', 'f', 'k', 'p', 'u', 'z', 66, '9', 1, 2, 3, 4, 5, 1, 2, 1, 2]

list.extend(iterable) extends a list with a given iterable. Iterable is anything which you can iterate through it. Iterable is a collection of items.

In [67]:
al=string.ascii_lowercase
al=list(al)
al=al[0::3]
al

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [68]:
al.insert(0,'bat')

In [69]:
al

['bat', 'a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [70]:
al.insert(7,'bat')

In [71]:
al

['bat', 'a', 'd', 'g', 'j', 'm', 'p', 'bat', 's', 'v', 'y']

list.insert(i,x) adds a given x at index i.

In [72]:
al.remove('bat')

In [73]:
al

['a', 'd', 'g', 'j', 'm', 'p', 'bat', 's', 'v', 'y']

In [74]:
al.remove('bat')

In [75]:
al

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [76]:
al.remove('bat')
# returns an error if the item to remove doesn't exist

ValueError: list.remove(x): x not in list

list.remove(x) removes x from the list

In [77]:
al

['a', 'd', 'g', 'j', 'm', 'p', 's', 'v', 'y']

In [78]:
al.pop()

'y'

In [79]:
al.pop()

'v'

In [80]:
al

['a', 'd', 'g', 'j', 'm', 'p', 's']

In [81]:
al.pop(2)

'g'

list.pop(i) pops and outputs the lement at index i from the list. If no index is given then it pops out the last element.

In [83]:
al

['a', 'd', 'j', 'm', 'p', 's']

In [84]:
al.clear()

In [85]:
al

[]

list.clear() clears out the list.  
It empties the list.  
It removes all elements from the list.

In [86]:
al=string.digits

In [87]:
al

'0123456789'

In [89]:
al=list(al)
al

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [90]:
al.index('1')

1

In [91]:
al.index('9')

9

In [92]:
al.append(97)

In [93]:
al

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 97]

In [94]:
al.index(97)

10

__list.index(x[,start[,end]])__ outputs the index of element x in list

In [97]:
al.insert(3,111)

In [98]:
al

['0', '1', '2', 111, 1, '3', '4', '5', '6', '7', '8', '9', 97]

In [99]:
al.index(111)

3

In [100]:
al.index(1,3,8)

4

In [104]:
al.index('5',3,9)

7

In [106]:
al.insert(7,'5')

In [107]:
al

['0', '1', '2', 111, 1, '3', '4', '5', '5', '6', '7', '8', '9', 97]

In [109]:
al.index('5',3,11)

7

In [113]:
al.count('5')

2

list.count(e) counts the number of times e occurs in the list.

In [114]:
al.insert(1,'a')

In [115]:
al

['0', 'a', '1', '2', 111, 1, '3', '4', '5', '5', '6', '7', '8', '9', 97]

In [116]:
al.remove(1)

In [118]:
al.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [119]:
al=[1,99,5,66,7,3233,0]

In [120]:
type(al)

list

In [121]:
al.sort()

In [122]:
al

[0, 1, 5, 7, 66, 99, 3233]

In [123]:
al.sort(reverse=True)
# the default value of reverse is False, If nothing is given then the default will be assumed.

In [124]:
al

[3233, 99, 66, 7, 5, 1, 0]

In [158]:
ls1=[(6,2),(1,8),(9,7)]
ls2=['batman','superman','flash','aquaman']

In [159]:
def sortFun(item):
    return item[0] # returns 0th item
def sortFun1(item):
    return item[1] # returns 1st item

In [160]:
ls1.sort()

In [161]:
ls1

[(1, 8), (6, 2), (9, 7)]

In [162]:
ls1.sort(key=sortFun)

In [163]:
ls1.sort(key=sortFun1)

In [164]:
ls1

[(6, 2), (9, 7), (1, 8)]

In [165]:
ls1.sort(key=sortFun)

In [166]:
ls1

[(1, 8), (6, 2), (9, 7)]

In [167]:
ls2

['batman', 'superman', 'flash', 'aquaman']

In [168]:
ls2.sort()

In [169]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [170]:
def letter0(somestring):
    return somestring[0]
def letter3(somestring):
    return somestring[3]

In [171]:
ls2.sort(key=letter0)

In [172]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [174]:
ls2.sort(key=letter3)

In [175]:
ls2

['aquaman', 'superman', 'batman', 'flash']

In [176]:
ls2.sort(reverse=True,key=letter3)

In [177]:
ls2

['flash', 'batman', 'superman', 'aquaman']

In [178]:
ls2.sort(reverse=True)

In [179]:
ls2

['superman', 'flash', 'batman', 'aquaman']

In [180]:
ls2.reverse()

In [181]:
ls2

['aquaman', 'batman', 'flash', 'superman']

list.sort(reverse=False, key=function) sorts a list.  
reverse - optional parameter. default is false. If set True then it will do the sorting from reverse or from right to left.  
key - optional parameter. Define your own sorting order.

###### list.revese() simply reverses a list. It is the same as list.sort(reverse=True)

In [182]:
id(ls2)

19533096

In [184]:
ls3=ls2.copy()

In [185]:
ls3

['aquaman', 'batman', 'flash', 'superman']

In [186]:
id(ls3)

19578272

In [187]:
ls3.insert(3,'cyborg')

In [188]:
ls3

['aquaman', 'batman', 'flash', 'cyborg', 'superman']

In [189]:
ls2

['aquaman', 'batman', 'flash', 'superman']

list.copy() does a real copy and not a shadow copy

In [203]:
stack=[1,2]

In [204]:
stack.append(3)

In [205]:
stack

[1, 2, 3]

In [206]:
stack.append(4)

In [207]:
stack

[1, 2, 3, 4]

In [208]:
stack.pop()

4

In [209]:
stack.pop()

3

In [210]:
stack.pop()

2

In [211]:
stack.pop()

1

In [212]:
stack

[]

**Stack** The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index.

In [213]:
from collections import deque

In [214]:
ls2

['aquaman', 'batman', 'flash', 'superman']

Queue is 'first come first serve'

In [216]:
queue=deque(ls2)

In [217]:
queue.popleft()
# pop the leftmost item from the queue

'aquaman'

In [218]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [219]:
queue

deque(['batman', 'flash', 'superman'])

In [220]:
queue.append('wonderwoman')

In [221]:
queue

deque(['batman', 'flash', 'superman', 'wonderwoman'])

**Queue** list.popleft() pops the leftmost item from the stack. It is the same as list.pop(0). So you can implement queue with list.pop(0) and list.append()

In [222]:
# create an empty list
dc=[]

In [223]:
dc

[]

In [224]:
type(dc)

list

In [225]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [226]:
len(jl)

5

In [227]:
len(dc)

0

In [228]:
[1,2]+[2,3]

[1, 2, 2, 3]

In [232]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [233]:
ls2+jl
# concatenate lists

['aquaman',
 'batman',
 'flash',
 'superman',
 'batman',
 ' superman',
 ' aquaman',
 ' flash',
 ' wonderwoman']

In [234]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [235]:
jl*2
# repetition

['batman',
 ' superman',
 ' aquaman',
 ' flash',
 ' wonderwoman',
 'batman',
 ' superman',
 ' aquaman',
 ' flash',
 ' wonderwoman']

In [236]:
'batman' in jl
# check membership

True

In [237]:
'batman' not in jl

False

In [238]:
jl

['batman', ' superman', ' aquaman', ' flash', ' wonderwoman']

In [239]:
'spiderman' in jl

False

In [240]:
'spiderman' not in jl

True

`in` `not in` checks the membership of given elements form a collection

In [241]:
max(jl)

'batman'

In [242]:
min(jl)

' aquaman'

In [244]:
nums=[1,2,3,4,5]

In [245]:
max(nums)

5

In [246]:
min(nums)

1

`max(list)` returns the largest element in the list  
`min(list)` returns the smallest element in the list

In [248]:
ls1

[(1, 8), (6, 2), (9, 7)]

In [249]:
ls2

['aquaman', 'batman', 'flash', 'superman']

In [250]:
ls2.append(ls1)

In [251]:
ls2

['aquaman', 'batman', 'flash', 'superman', [(1, 8), (6, 2), (9, 7)]]

In [252]:
ls2.extend(ls1)

In [253]:
ls2
# nested list

['aquaman',
 'batman',
 'flash',
 'superman',
 [(1, 8), (6, 2), (9, 7)],
 (1, 8),
 (6, 2),
 (9, 7)]

In [263]:
bool1=[True, False]
bool2=[True, True]
bool3=[False,False]
bool4=[type(1) is int, False]

In [258]:
any(bool1)

True

In [259]:
any(bool2)

True

In [260]:
any(bool3)

False

In [262]:
type(1) is int

True

In [264]:
any(bool4)

True

In [265]:
all(bool1)

False

In [266]:
all(bool3)

False

In [267]:
all(bool2)

True

`any(list)` checks if any element in the list is True.  
`all(list)` checks if all element in the list are True.

In [269]:
list(enumerate(bool1,0))

[(0, True), (1, False)]

In [270]:
list(enumerate(jl,0))

[(0, 'batman'),
 (1, ' superman'),
 (2, ' aquaman'),
 (3, ' flash'),
 (4, ' wonderwoman')]

In [271]:
list(enumerate(jl,11))

[(11, 'batman'),
 (12, ' superman'),
 (13, ' aquaman'),
 (14, ' flash'),
 (15, ' wonderwoman')]

### Bonus

In [1]:
# flatten a list
list_of_lists=[[1],[2],[3,4]]
sum(list_of_lists, [])

[1, 2, 3, 4]